@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}

.el-switch{
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    vertical-align: middle
}

.el-switch .label-fade-enter, .el-switch .label-fade-leave-active{
    opacity: 0
}

.el-switch.is-disabled .el-switch__core{
    border-color: rgb(241, 232, 228) !important;
    background: rgb(241, 232, 228) !important
}

.el-switch.is-disabled .el-switch__core span{
    background-color: rgb(255, 251, 251) !important
}

.el-switch.is-disabled .el-switch__core ~ .el-switch__label *{
    color: rgb(255, 251, 251) !important
}

.el-switch.is-checked .el-switch__core{
    border-color: #f6483f;
    background-color: #f6483f;
}

.el-switch.is-disabled{}

.el-switch.is-disabled .el-switch__core, .el-switch.is-disabled .el-switch__label{
    cursor: not-allowed
}

.el-switch__label{
    transition: .2s;
    position: absolute;
    width: 46px;
    height: 22px;
    left: 0;
    top: 0;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    z-index: 2
}

.el-switch__label *{
    line-height: 1;
    top: 4px;
    position: absolute;
    font-size: 14px;
    display: inline-block;
    color: #fff
}

.el-switch__label--left i {
    left: 6px;
}

.el-switch__label--right i {
    right: 6px;
}

.el-switch__input{
    display: none
}

.el-switch__input.allow-focus{
    z-index: 0;
    display: inline;
    display: initial;
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    opacity: 0
}

.el-switch__input.allow-focus:focus + .el-switch__core{
    box-shadow: 0 0 2px #f6483f
}

.el-switch__core{
    margin: 0;
    display: inline-block;
    position: relative;
    width: 46px;
    height: 22px;
    border: 1px solid rgb(217, 194, 191);
    outline: none;
    border-radius: 12px;
    box-sizing: border-box;
    background: rgb(217, 194, 191);
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    z-index: 1
}

.el-switch__core .el-switch__button{
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 100%;
    transition: transform .3s;
    width: 16px;
    height: 16px;
    background-color: #fff
}

.el-switch--wide .el-switch__label {}

.el-switch--wide .el-switch__label.el-switch__label--left span{
    left: 10px
}

.el-switch--wide .el-switch__label.el-switch__label--right span{
    right: 10px
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}