<template>
    <div>
      <div class="headerTop" id="home">
        <div class="header" :style="headerStyle">
          <ul>
            <li>
              <img v-show="showRedLogo" class="redLogoClass" src="../assets/logo_red.png">
              <img v-show="!showRedLogo" class="logoClass" src="../assets/logo.png" :style="logoStyle">
            </li>
            <li><a @click="goAnchor('#home')" @mouseover="mouseHandler" @mouseout="mouseHandler" :style="aStyle">网站首页</a></li>
            <li><a @click="goAnchor('#customer')"@mouseover="mouseHandler" @mouseout="mouseHandler" :style="aStyle">商户案例</a></li>
            <li><a @click="goAnchor('#ad')" @mouseover="mouseHandler" @mouseout="mouseHandler" :style="aStyle">商户合作</a></li>
            <li><a @click="goAnchor('#aboutUs')" @mouseover="mouseHandler" @mouseout="mouseHandler" :style="aStyle">关于我们</a></li>
            <li><a class="loginBtn" @click="register">新用户注册</a></li>
          </ul>
        </div>
        <div class="headerBg">
          <div class="headerTxt">
            <span>互联网 + 珠宝</span><br>
            <span>线下门店解决方案</span>
            <hr color="#ffffff">
          </div>
          <br>
          <div class="qrCode">
            <div class="android" style="margin-right: 40px">
              <img src="../assets/androidQRCode.png" alt="">
              <p>Android版下载</p>
            </div>
            <div class="iphone">
              <img src="../assets/iphoneQRCode.png" alt="">
              <p>iphone版下载</p>
            </div>
          </div>
        </div>
      </div>

      <div class="custom">
        <img src="../assets/bg02.png" width="100%">
        <div class="customTxt">
          <span>商户价值</span>
          <hr color="#c43023" style="width: 50px;">
          <span class="subTitle">为门店提供“零库存”解决方案</span>
        </div>
        <ul>
          <li>
            <img src="../assets/custom00.png">
            <br>
            <span>扩展门店客流</span>
            <p>
              通过多元化的社交广告形式及导购营销工具，聚拢更多门店流量。
            </p>
          </li>
          <li>
            <img src="../assets/custom01.png">
            <br>
            <span>整合上下游供应链</span>
            <p>
              整合上下游供应链海量货品一键采购，顺丰发货。
            </p>
          </li>
          <li>
            <img src="../assets/custom02.png">
            <br>
            <span>实现零库存</span>
            <p>
              实现零库存，门店按需采购，货品七天可退。
            </p>
          </li>
        </ul>
      </div>
      <div class="tcbg" id="ad">
        <div class="bg"></div>
        <div class="bg03"></div>
        <span>真实的广告推广效果</span>
        <hr color="#c43023" style="width: 50px;">
        <div class="scroll">
          <swiper :options="swiperOption">
            <swiper-slide>
              <div class="left">
                <img width="100%" src="../assets/preview00.png">
              </div>
              <div class="right">
                <span>阜新市天祥珠宝 朋友圈广告</span>
                <section>
                  <section><span>覆盖当地</span>重点商圈</section>
                  <section><span>品牌知名度</span>直线上升</section>
                </section>
                <a @click="goAnchor('#form')" class="postAdBtn">我也要投放广告</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div>
                <img width="100%" src="../assets/preview01.png">
              </div>
              <div class="right" style="width: 52%!important;">
                <span>梧州市品藏珠宝 朋友圈广告</span>
                <section>
                  <section><span>精准定向投放 + 四店齐发</span></section>
                  <section><span>对顾客到店进行</span>二次开发，收益翻倍</section>
                </section>
                <a @click="goAnchor('#form')" class="postAdBtn">我也要投放广告</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div>
                <img width="100%" src="../assets/preview02.png">
              </div>
              <div class="right" style="width: 45%!important;">
                <span>保定龙凤祥珠宝 朋友圈广告</span>
                <section>
                  <section><span>门店周边精准定向投放</span></section>
                  <section><span>仅一天</span>收集意向客户资料 160+</section>
                </section>
                <a @click="goAnchor('#form')" class="postAdBtn">我也要投放广告</a>
              </div>
            </swiper-slide>
            <a class="prev" slot="button-prev"><img src="../assets/leftBtn.png" border="0"></a>
            <a class="next" slot="button-next"><img src="../assets/rightBtn.png" border="0"></a>
          </swiper>
        </div>
        <img style="position: relative;top: -50px" width="100%" src="../assets/carouseBg.png">
      </div>
      <div class="productBg">
        <span>四大产品体系</span>
        <hr color="#c43023" style="width: 50px;">
        <span class="subTitle">打造门店解决方案完整闭环</span>
        <br>
        <ul>
          <li>
            <img src="../assets/product00.png">
            <div style="height: 10px"></div>
            <span>互联网广告</span>
          </li>
          <li>
            <img src="../assets/product01.png">
            <div style="height: 10px"></div>
            <span>线上采购工具</span>
          </li>
          <li>
            <img src="../assets/product02.png">
            <div style="height: 10px"></div>
            <span>导购营销工具</span>
          </li>
          <li>
            <img src="../assets/product03.png">
            <div style="height: 10px"></div>
            <span>商户公众号商城</span>
          </li>
        </ul>
      </div>
      <div class="superiority" >
        <span>麦珠宝的优势</span>
        <hr color="#c43023" style="width: 50px;">
        <span class="subTitle">全方位解决门店库存 + 客流问题</span>
        <br>
        <div style="width: 100%;height: 20px"></div>
        <div>
          <ul>
            <li>
              <img src="../assets/superiority00.png">
              <br>
              <span>强大的云端供应链</span>
            </li>
            <li>
              <img src="../assets/superiority01.png">
              <br>
              <span>商品信息真实无忧</span>
            </li>
            <li>
              <img src="../assets/superiority02.png">
              <br>
              <span>便捷推广一键分享</span>
            </li>
            <li>
              <img src="../assets/superiority03.png">
              <br>
              <span>销售技巧提升培训</span>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <img src="../assets/superiority04.png">
              <br>
              <span>仓储物流极速安全</span>
            </li>
            <li>
              <img src="../assets/superiority05.png">
              <br>
              <span>七天无理由退货</span>
            </li>
            <li>
              <img src="../assets/superiority06.png">
              <br>
              <span>专业团队在线对接</span>
            </li>
            <li>
              <img src="../assets/superiority07.png">
              <br>
              <span>互联网广告精准拓客</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="business" id="customer">
        <span>已入驻商户</span>
        <hr color="#c43023" style="width: 50px;">
        <span  class="subTitle">全国已有80家珠宝商接入麦珠宝，门店数量超过400个。</span>
        <br>
        <div style="width: 100%;height: 50px"></div>
        <ul class="shopList">
          <li>
            <img style="margin-top: 45px" src="../assets/business00.png">
          </li>
          <li>
            <img src="../assets/business01.png">
          </li>
          <li>
            <img src="../assets/business02.png">
          </li>
          <li>
            <img style="margin-top: 30px" src="../assets/business03.png">
          </li>
        </ul>
        <div style="margin-top: -10px">
          <ul class="shopList">
            <li>
              <img src="../assets/business04.png">
            </li>
            <li>
              <img style="margin-top: 35px" src="../assets/business05.png">
            </li>
            <li>
              <img src="../assets/business06.png">
            </li>
            <li>
              <img src="../assets/business07.png">
            </li>
          </ul>
        </div>
        <div class="step">
          <span>4</span>步接入，省事省力省时间
          <br>
          <ul>
            <li>
              <img src="../assets/step00.png">
              <div>在线申请</div>
              <span>24小时内回复</span>
            </li>
            <li>
              <img style="padding-top: 50px;padding-left: 30px;" src="../assets/step.png">
            </li>
            <li>
              <img src="../assets/step01.png">
              <div>沟通审核</div>
              <span>3个工作日内专人对接</span>
            </li>
            <li>
              <img style="padding-top: 50px;padding-right: 30px;" src="../assets/step.png">
            </li>
            <li>
              <img src="../assets/step02.png">
              <div>确定合作</div>
              <span>合作明细沟通</span>
            </li>
            <li>
              <img style="padding-top: 50px;padding-left: 30px;" src="../assets/step.png">
            </li>
            <li>
              <img src="../assets/step03.png">
              <div>完成接入</div>
              <span>3个工作日内完成接入</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="form" id="form">
        <div>
          <span class="subTitle">请麦珠宝顾问来电为您介绍</span>
          <span>留下您的联系方式，我们的麦珠宝顾问将与您联系，免费咨询</span>
          <el-form ref="form" :model="info" :rules="rules">
            <el-form-item prop="companyName">
              <el-input v-model="info.companyName" placeholder="请留下您的公司名称" @change="valueChange"></el-input>
            </el-form-item>
            <el-form-item prop="linkman">
                <el-input v-model="info.linkman" placeholder="请留下您的姓名" @change="valueChange"></el-input>
              </el-form-item>
            <el-form-item prop="phone">
              <el-input v-model="info.phone" placeholder="请输入您的手机号码" @change="valueChange"></el-input>
            </el-form-item>
          </el-form>
          <button id="submit" class="submit" @click="submit">提交</button>
        </div>
        <div>
          <span class="subTitle">新客户咨询专线</span>
          <span>通过以下方式联系我们的麦珠宝顾问，了解更多服务及产品信息</span>
          <img style="padding: 30px" src="../assets/phone.png">
          <span class="phoneNumber">400-963-3520</span>
          <span class="workTime">我们的工作时间是周一至周五 9：00-18：00</span>
        </div>
      </div>

      <div class="aboutus" id="aboutUs">
        <span>关于麦珠宝</span>
        <hr color="#c43023" style="width: 50px;">
        <img style="margin-top: 20px" src="../assets/mzbLogo.png">
        <br>
        <span class="line"></span>
        <br>
        <div class="dec">
          <div style="text-align: left">麦珠宝是"互联网 + 珠宝"门店解决方案,为珠宝门店解决客流和货两大经营难题。</div>
          <div style="text-align: left">利用微信朋友圈等互联网平台的本地化广告能力结合供应链的货品直采优势</div>
          <div>提供低价爆款、线上引流、门店消费开拓大量本地精准客户。</div>
          <div>依托于翠花珠宝的强大供应链，数十万件翡翠现货在线共享，可一键分享至
            朋友圈和微信好友打造“先销后采”的新零售模式。
          </div>
        </div>
      </div >
      <div class="footer">
        <div class="content">
          <div class="footerLogo">
            <img src="../assets/bottomLogo.png">
          </div>
          <div class="footerLine"></div>
          <div class="footerMiddle">
            <div>咨询电话：400-770-3399 联系邮箱：kingwenoe@163.com</div>
            <div>公司地址：广东省广州市海珠区琶洲国际采购中心1315室</div>
            <div>&copy;2017 All Right Reserved JCH 深圳市金翠花珠宝网络科技股份有限公司版权所有</div>
            <div>网站备案/许可证号：粤ICP备16005464号-2</div>
          </div>
          <div class="footerQrcode">
            <img width="120px" src="../assets/qrcode.png">
          </div>
        </div>
      </div>
      <div class="backTopBtn" v-show="showTopBtn" @click="scrollToTop">
        <img src="../assets/backTopBtn.png">
      </div>
      <hint-message :msg="msg"></hint-message>
    </div>
</template>

<script>
  import HintMessage from '../components/HintMessage.vue'
  import { swiper, swiperSlide } from 'vue-awesome-swiper'
  require('swiper/dist/css/swiper.css')

  export default {
    components: {
      HintMessage,
      swiper,
      swiperSlide
    },
    data: function () {
      return {
        showRedLogo: false,
        showTopBtn: false,
        swiperOption: {
          nextButton: '.next',
          prevButton: '.prev',
          loop: true
        },
        msg: {
          show: false,
          title: '',
          content: '',
          success: true
        },
        alpha: 0,
        scrollTop: '0',
        info: {
          companyName: '',
          linkman: '',
          phone: ''
        },
        rules: {
          companyName: [
            {required: true, message: '请输入公司名称', trigger: 'blur'},
            {max: 50, message: '公司名超出50个文字，请重新输入', trigger: 'blur'},
            {pattern: /^[\u4e00-\u9fa5A-Za-z0-9()（）]+$/, message: '不可使用特殊字符，请重新输入'}
          ],
          linkman: [
            {required: true, message: '请输入姓名', trigger: 'blur'},
            {max: 50, message: '姓名超出20个文字，请重新输入', trigger: 'blur'},
            {pattern: /^[\u4e00-\u9fa5A-Za-z]+$/, message: '只能输入中文、字母，请重新输入'}
          ],
          phone: [
            {required: true, message: '请输入手机号码', trigger: 'blur'},
            {min: 11, max: 11, message: '手机号码为11位', trigger: 'blur'},
            {pattern: /^[0-9]+$/, message: '只能输入数字，请重新输入'}
          ]
        }
      }
    },
    computed: {
      headerStyle () {
        return {
          borderBottom: '1px solid rgba(221, 221, 221,' + this.alpha + ')',
          backgroundColor: 'rgba(255, 255, 255,' + this.alpha + ')',
          height: 100 - 20 * this.alpha + 'px',
          lineHeight: 100 - 40 * this.alpha + 'px'
        }
      },
      logoStyle () {
        return {
          marginTop: 10 - 10 * (this.scrollTop / 40) + 'px'
        }
      },
      aStyle () {
        this.showRedLogo = this.scrollTop > 40 ? true : false
        return {
          color: this.scrollTop > 40 ? '#999999' : '#dddddd'
        }
      }
    },
    methods: {
      register () {
        let str = window.location.href.split('/').slice(0, window.location.href.split('/').length - 1).join('/')
        window.open(str + '/Register')
      },
      goAnchor (selector) {
        let anchor = document.querySelector(selector)
        window.scroll(0, anchor.offsetTop - 80)
      },
      mouseHandler (e) {
        if (e.type === 'mouseover') {
          e.target.style.color = this.scrollTop > 40 ? 'black' : 'white'
        } else if (e.type === 'mouseout') {
          e.target.style.color = this.scrollTop > 40 ? '#999999' : '#dddddd'
        }
      },
      scrollToTop () {
        let target = 0
        let timer = null
        let leader = window.pageYOffset
        timer = setInterval(function () {
          leader = Math.floor(leader + (target - leader) / 10)
          window.scrollTo(0, leader)
          if (leader === target) {
            clearInterval(timer)
          }
        }, 10)
      },
      scrollHandler () {
        this.scrollTop = window.pageYOffset
        this.alpha = this.scrollTop / 80
        if (this.alpha > 1) this.alpha = 1
        this.showTopBtn = this.scrollTop > document.body.offsetHeight * 0.4
      },
      valueChange (val) {
        this.$nextTick(() => {
          this.info.companyName = this.info.companyName.trim()
          this.info.linkman = this.info.linkman.trim()
          this.info.phone = this.info.phone.trim()
        })
      },
      submit () {
        this.$refs['form'].validate(valid => {
          if (valid) {
            let that = this
            window.api.post(window.api.url('saveCustomerInfo'), this.info, function (res) {
              if (res.status === 'success') {
                that.showMessage(true, '提交成功，工作人员将在3个工作日内与您联系')
                that.info.companyName = ''
                that.info.linkman = ''
                that.info.phone = ''
              } else {
                that.showMessage(false, res.msg)
              }
            }, function () {
              that.showMessage(false, '网络异常')
            })
          }
        })
      },
      showMessage (success, message) {
        this.msg.show = true
        this.msg.title = success ? '提交成功' : '提交失败'
        this.msg.content = message
        this.msg.success = success
      }
    },
    created () {
      if (!this.$route.query.flag) {
        setTimeout(function () {
          window.scrollTo(0, 0)
        }, 250)
      }
      window.addEventListener('scroll', this.scrollHandler)
    },
    mounted () {
      let flag = this.$route.query.flag
      if (flag) {
        this.goAnchor('#' + flag)
      }
    }
  }
</script>
<style>

  .form .el-form-item__content {
    width: 300px !important;
    margin: auto !important;
  }

  .form .el-input__inner {
    /*padding: 15px !important;*/
    height: 49px;
  }
</style>
<style scoped>
  input,
  button{
    font-family: "Microsoft YaHei", "微软雅黑";
  }
  .subTitle {
    font-size: 21px !important;
    color: #666;
  }
  .loginBtn {
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 15px;
    font-size: 14px;
    color: #222 !important;
  }
  .headerTop {
    height: 650px;
  }
  .header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    position: fixed;
  }
  .header .redLogoClass {
    position: relative;
    top: -10px;
  }
  .header ul {
    list-style-type: none;
    display: inline-block;
    width: 1200px;
    padding: 0;
    margin: 12px 0;
  }
  .header ul img {
    margin: 10px;
    margin-right: 600px;
    padding-top: 10px;
  }
  .header ul li {
    float: left;
    padding: 0 10px;
    text-align: center;
  }
  .header ul li a {
    font-size: 16px;
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
  }
  .header ul li a:hover {
    color: #fff;
  }
  .headerBg {
    text-align: center;
    height: 100%;
    background: url(../assets/bg01.jpg) no-repeat center #302d2a;
  }
  .headerBg .headerTxt {
    display: inline-block;
    margin-top: 180px;
  }
  .headerBg hr {
    width: 427px;
    height: 1px;
    position: relative;
    top: 20px;
    border: none;
    left: 252px;
  }
  .headerBg span {
    font-size: 54px;
    color: #fff;
    text-align: left;
    width: 450px;
    position: relative;
    left: 260px;
    display: inline-block;
  }
  .headerBg .qrCode {
    position: relative;
    display: inline-block;
    width: 450px;
    top: 50px;
    left: 250px;
  }
  .headerBg .qrCode div {
    display: inline-block;
    width: 190px;
  }
  .headerBg .qrCode div img {
    width: 100%;
  }
  .headerBg .qrCode div p {
    color: #fff;
    margin-top: 5px;
    font-size: 21px;
  }
  .custom {
    position: relative;
    height: 600px;
  }
  .custom ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    top: 239px;
    padding: 0;
  }
  .custom ul li {
    float: left;
    width: 250px;
    height: 260px;
    border: 1px solid #ecedf2;
    margin: 20px;
    padding: 20px 0;
    text-align: center;
  }
  .custom ul li img {
    margin: 20px;
  }
  .custom ul li span {
    font-size: 24px;
    color: #3f4c64;
  }
  .custom ul li p {
    padding: 0 25px;
    color: #3f4c64;
    font-size: 18px;
    text-align: left;
  }
  .customTxt {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    text-align: center;
    font-size: 32px;
    color: #000;
  }
  .tcbg {
    font-size: 32px;
    text-align: center;
    position: relative;
  }
  .tcbg .bg {
    background-color: #697fab;
    height: 488px;
    position: absolute;
    width: 100%;
  }
  .tcbg .bg03 {
    margin-bottom: 30px;
    background: url(../assets/bg03.jpg) no-repeat center;
    height: 514px;
    position: relative;
    z-index: 99;
  }
  .tcbg .scroll {
    margin: 0 auto;
    width: 1080px;
    height: 420px;
    position: relative;
    overflow: hidden;
  }
  .tcbg ul,
  .tcbg .swiper-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 420px;
  }

  .tcbg .swiper-slide {
    float: left;
    width: 1080px;
  }
  .tcbg .swiper-slide div {
    display: inline-block;
    width: 25%;
  }

  .tcbg .swiper-slide div span {
    font-size: 20px;
    color: #666;
  }

  .tcbg .swiper-slide div section {
    font-size: 32px !important;
    color: #da372a;
  }

  .tcbg .swiper-slide div section span {
    color: #000;
    font-size: 32px !important;
  }
  .tcbg .swiper-slide .right {
    position: relative;
    top: -165px;
    width: 30% !important;
    padding-left: 60px;
    text-align: left;
  }
  .tcbg .swiper-slide .right > section {
    margin-bottom: 12px;
  }
  .tcbg .swiper-slide .postAdBtn{
    font-size: 21px;
    color: #fff;
    padding: 10px 40px;
    background-color: #da372a;
    border: none;
    text-decoration: none;
    border-radius: 2px;
  }
  .tcbg .prev {
    position: absolute;
    left: 0;
    top: 160px;
    z-index: 9990;
  }
  .tcbg .next {
    position: absolute;
    right: 0;
    top: 160px;
    z-index: 9990;
  }
  .productBg {
    font-size: 32px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .productBg ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
  }
  .productBg ul li {
    float: left;
    margin: 0 20px;
    padding: 20px;
  }
  .productBg ul li span {
    display: inline-block;
    font-size: 21px;
    color: #515151;
  }
  .superiority {
    background-color: #f6f6f6;
    text-align: center;
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .superiority ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .superiority ul li {
    float: left;
    width: 220px;
  }
  .superiority ul li img {
    display: inline-block;
  }
  .superiority ul li span {
    font-size: 20px;
    color: #333;
  }
  .business {
    font-size: 32px;
    text-align: center;
    padding-top: 65px;
    background-color: #fff;
  }
  .business .shopList {
    list-style-type: none;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #ddd;
    border-left: none;
  }
  .business .shopList li {
    float: left;
    border-left: 1px solid #ddd;
    width: 280px;
    height: 130px;
  }
  .business .shopList li span {
    font-size: 20px;
    color: #333;
  }
  .business .shopList li img {
    margin-top: 25px;
  }
  .business .step {
    font-size: 42px;
    color: #4a565c;
    padding: 10px 0;
  }
  .business .step span {
    font-size: 110px;
  }
  .business .step ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    border: none;
    padding: 40px 0 !important;
  }
  .business .step ul li {
    float: left;
    border: none;
    padding: 0;
    font-size: 21px;
    color: #000;
    text-align: center;
  }
  .business .step ul li div {
    margin-top: 13px;
  }
  .business .step ul li span {
    font-size: 20px;
    color: #666;
  }
  .form {
    background-color: #f6f6f6;
    padding: 40px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .form > div {
    width: 600px;
    float: left;
  }
  .form > div span {
    display: block;
    font-size: 15px;
    color: #666;
    line-height: 40px;
  }

  .form > div .submit {
    width: 25%;
    padding: 5px;
    font-size: 20px;
    border-radius: 2px;
    border: none;
    background-color: #ec4b3d;
    color: #fff;
  }
  .form > div .phoneNumber {
    font-size: 39px;
    color: #da483b !important;
  }
  .form > div .workTime {
    font-size: 15px;
    color: #222 !important;
  }
  .aboutus {
    font-size: 32px;
    text-align: center;
    padding-top: 40px;
  }
  .aboutus .line {
    border-top: 1px solid #ddd;
    width: 400px;
    display: inline-block;
  }
  .aboutus div {
    display: inline-block;
    width: 52%;
  }
  .aboutus .dec {
    font-size: 15px;
    color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 670px;
  }
  .aboutus .dec div {
    width: 100%;
    text-align: center !important;
    line-height: 31px;
  }
  .footer {
    background-color: #333;
  }
  .footer div {
    display: inline-block;
    vertical-align: top;
  }
  .footer .content {
    width: 1200px;
    height: 184px;
    display: block;
    margin: 0 auto;
  }
  .footer .footerLogo {
    margin: 65px 0 0 20px;
  }
  .footer .footerLine {
    background-color: #999;
    width: 1px;
    margin-top: 50px;
    height: 92px;
    margin-left: 20px;
  }
  .footer .footerMiddle {
    padding-left: 20px;
    margin-top: 50px;
    font-size: 14px;
    color: #999;
  }
  .footer .footerMiddle div {
    line-height: 23px;
    display: block;
  }
  .footer .footerQrcode {
    margin: 30px;
    float: right;
  }
  .backTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99990;
  }

</style>
