<template>
    <div class="background">
      <page-header @goHomePage="goHomePage"></page-header>
      <div class="content">
        <div class="registerBackground">
          <div class="register_title">
            <span class="register_TitleTxt">商户注册信息认证</span>
          </div>
          <el-form class="register_form" :model="params" :rules="rules" ref="ruleForm" label-width="120px">
            <el-form-item label="公司类型" prop="companyType" class="register_format">
              <el-select v-model="params.companyType" placeholder="请选择公司类型" class="selectWidth">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="公司名称" prop="companyName" class="register_format">
              <el-input v-model="params.companyName" placeholder="请填写公司名称"></el-input>
            </el-form-item>
            <el-form-item label="法人身份证号" prop="corporateIdcard" class="register_format">
              <el-input v-model="params.corporateIdcard" placeholder="请填写法人身份证号"></el-input>
            </el-form-item>
            <el-form-item label="法人身份证" prop="corporateIdcardFrontUrl" class="uploadBackground">
              <div class="register_message">
                <div class="delImgBg">
                  <el-upload
                    class="avatar-uploader"
                    :data="qiniuData"
                    :show-file-list="false"
                    :on-success="certImg00SuccessHandler"
                    :before-upload="beforeAvatarUpload"
                    :action="qiniuUrl">
                    <img v-if="params.corporateIdcardFrontUrl" :src="params.corporateIdcardFrontUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon avatar-uploader-icon00">
                      <span class="uploader_txt">请上传正面身份证</span>
                    </i>
                  </el-upload>
                  <img v-if="params.corporateIdcardFrontUrl" @click="delHandler('cardFront')"  src="../assets/delBtn.png" class="delImgBtn">
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="corporateIdcardBackUrl" class="uploadBackground" label-width="0">
              <div class="register_message">
                <div class="delImgBg">
                  <el-upload
                    class="avatar-uploader"
                    :action="qiniuUrl"
                    :show-file-list="false"
                    :data="qiniuData"
                    :on-success="certImg01SuccessHandler"
                    :before-upload="beforeAvatarUpload">
                    <img v-if="params.corporateIdcardBackUrl" :src="params.corporateIdcardBackUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon avatar-uploader-icon01">
                      <span class="uploader_txt">请上传反面身份证</span>
                    </i>
                  </el-upload>
                  <img src="../assets/delBtn.png" @click="delHandler('cardBack')"  v-if="params.corporateIdcardBackUrl" class="delImgBtn">
                </div>
                <span class="register_pictureTip">
                图片格式：大小要求在500K以内
              </span>
              </div>
            </el-form-item>
            <el-form-item label="营业执照" prop="businessLicenseUrl">
              <div class="register_message">
                <div class="delImgBg">
                  <el-upload
                    class="avatar-uploader"
                    :action="qiniuUrl"
                    :data="qiniuData"
                    :show-file-list="false"
                    :on-success="licenceImgSuccessHandler"
                    :before-upload="beforeAvatarUpload">
                    <img v-if="params.businessLicenseUrl" :src="params.businessLicenseUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon avatar-uploader-icon02"></i>
                  </el-upload>
                  <img src="../assets/delBtn.png" v-if="params.businessLicenseUrl" @click="delHandler('business')" class="delImgBtn">
                </div>

                <span class="register_pictureTip01 register_pictureTip">
                请上传与公司名称一致的营业执照
                图片格式：大小要求在500K以内
              </span>
              </div>
            </el-form-item>
            <el-form-item label="税务登记证" style="padding-left: 10px">
              <div class="register_message">
                <div class="delImgBg" style="margin-left: -10px">
                  <el-upload
                    class="avatar-uploader"
                    :action="qiniuUrl"
                    :data="qiniuData"
                    :show-file-list="false"
                    :on-success="taxImgSuccessHandler"
                    :before-upload="beforeAvatarUpload">
                    <img v-if="params.taxLicenseUrl" :src="params.taxLicenseUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon avatar-uploader-icon02"></i>
                  </el-upload>
                  <img src="../assets/delBtn.png" v-if="params.taxLicenseUrl" @click="delHandler('tax')"  class="delImgBtn">
                </div>

                <span class="register_pictureTip02 register_pictureTip">
                营业执照非三证合一，需上传企业税务登记证
                图片格式：大小要求在500K以内
              </span>
              </div>
            </el-form-item>
            <el-form-item label="纳税识别号" prop="taxIdentificationNum" class="register_format">
              <el-input  v-model="params.taxIdentificationNum" placeholder="请输入社会信用代码或纳税识别号"></el-input>
              <div class="register_taxTip">
              <span class="register_pictureTip03 register_pictureTip">
                营业执照为三证合一，请填写统一社会信用代码
                非三证合一营业执照，请填写纳税识别号
              </span>
              </div>
            </el-form-item>
            <el-form-item label="手机号码" prop="phoneNumber" class="register_format">
              <el-input v-model="params.phoneNumber" placeholder="请输入手机号码" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="验证码" prop="captcha" class="register_format">
              <el-input v-model="params.captcha" placeholder="请输入验证码" style="width: 230px" auto-complete="off"></el-input>
              <input type="button" v-model="btnMsg" @click="sendVercodeHandler" class="verCodeBtn" :disabled="btnEnable === 0">
            </el-form-item>
          </el-form>
          <div class="register_btnBackground">
            <button  class="register_dialog_button" @click="submitFormHandler()">提交认证</button>
          </div>
        </div>
        <page-footer></page-footer>
      </div>
      <hint-message :msg="msg" @hidden="closeHint"></hint-message>
    </div>
</template>

<script>
  import Qiniu from 'qiniu-js'
  import PageFooter from '../components/PageFooter.vue'
  import PageHeader from '../components/PageHeader.vue'
  import HintMessage from '../components/HintMessage.vue'

  export default {
    components: {
      Qiniu,
      PageFooter,
      PageHeader,
      HintMessage
    },
    data () {
      return {
        options: [{
          value: '0',
          label: '企业'
        }, {
          value: '1',
          label: '个体'
        }],
        qiniuData: {
          token: ''
        },
        qiniuUrl: 'http://upload.qiniu.com',
        domainUrl: 'http://oyh0kul04.bkt.clouddn.com/',
        params: {
          merchantStatus: '0',
          companyType: '0', // 公司类型 0是公司，1是个人
          companyName: '', // 公司名字
          corporateIdcard: '', // 法人身份证号
          corporateIdcardFrontUrl: '', // 法人身份证照（正面）
          corporateIdcardBackUrl: '', // 法人身份证照（背面）
          businessLicenseUrl: '', // 营业执照
          taxLicenseUrl: '',
          taxIdentificationNum: '', // 纳税识别号
          phoneNumber: '',
          captcha: ''
        },
        msg: {
          show: false,
          title: '',
          content: '',
          success: true
        },
        rules: {
          companyType: [
            { required: true, message: '请选择公司类型', trigger: 'blur' }
          ],
          companyName: [
            { required: true, message: '请输入公司名称', trigger: 'blur' }
          ],
          corporateIdcard: [
            { required: true, message: '请输入法人身份证号', trigger: 'blur' }
          ],
          corporateIdcardFrontUrl: [
            { required: true, message: '请上传身份证正面照', trigger: 'blur' }
          ],
          corporateIdcardBackUrl: [
            { required: true, message: '请上传身份证反面照', trigger: 'blur' }
          ],
          businessLicenseUrl: [
            { required: true, message: '请上传营业执照', trigger: 'blur' }
          ],
          taxIdentificationNum: [
            { required: true, message: '请输入税务识别码', trigger: 'blur' },
            { min: 0, max: 18, message: '税务识别码最长为18位', trigger: 'blur' }
          ],
          phoneNumber: [
            { required: true, message: '请输入手机号', trigger: 'blur' },
            {min: 11, max: 11, message: '手机号码为11位', trigger: 'blur'},
            {pattern: /^[0-9]+$/, message: '只能输入数字，请重新输入', trigger: 'blur'}
          ],
          captcha: [
            {required: true, message: '请输入验证码', trigger: 'blur'}
          ]
        },
        btnEnable: 1,
        timer: '',
        second: 60
      }
    },
    computed: {
      btnMsg () {
        if (this.btnEnable === 1) {
          return '获取验证码'
        } else if (this.btnEnable === 2) {
          return '重新发送'
        } else {
          return '重新发送(' + this.second + ')'
        }
      }
    },
    mounted () {
      let that = this
      window.api.post(window.api.url('getToken'), {}, function (res) {
        that.qiniuData.token = res.datas
      }, function () {
      })
    },
    methods: {
      goHomePage (flag) {
        let str = window.location.href.split('/').slice(0, window.location.href.split('/').length - 1).join('/')
        window.open(str + '?flag=' + flag)
      },
      delHandler (str) {
        if (str === 'cardFront') {
          this.params.corporateIdcardFrontUrl = ''
        } else if (str === 'cardBack') {
          this.params.corporateIdcardBackUrl = ''
        } else if (str === 'business') {
          this.params.businessLicenseUrl = ''
        } else if (str === 'tax') {
          this.params.taxLicenseUrl = ''
        }
      },
      resetBtn (state) {
        this.btnEnable = state
        this.second = 60
        clearInterval(this.timer)
      },
      sendVercodeHandler () {
        this.$refs['ruleForm'].validateField('phoneNumber', valid => {
          let that = this
          if (!valid) {
            let params = {
              phoneNumber: that.params.phoneNumber
            }
            window.api.post(window.api.url('getCaptcha'), params, function (res) {
              if (res.status === 'success') {
                that.timer = setInterval(function () {
                  that.second--
                  that.btnEnable = 0
                  if (that.second === 0) {
                    that.resetBtn(2)
                  }
                }, 1000)
              } else {
                that.$message.error('网络异常')
              }
            }, function () {
              that.$message.error('网络异常')
            })
          }
        })
      },
      submitFormHandler () {
        this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
            let that = this
            window.api.post(window.api.url('saveCertification'), that.params, function (res) {
              if (res.status === 'success') {
                that.showMessage(true, '提交成功，工作人员将在3个工作日内与您联系')
              } else {
                that.showMessage(false, res.msg)
                that.resetBtn(2)
              }
            }, function () {
              that.showMessage(false, '网络异常')
              that.resetBtn(2)
            })
          }
        })
      },
      showMessage (success, message) {
        this.msg.show = true
        this.msg.title = success ? '提交成功' : '提交失败'
        this.msg.content = message
        this.msg.success = success
      },
      closeHint () {
        if (this.msg.success) window.close()
      },
      beforeAvatarUpload (file) {
//        const isJPG = file.type === 'image/jpeg'
//        const isLt2M = file.size / 1024 < 5
//        if (!isLt2M) {
//          this.$message.error('上传头像图片大小不能超过 2MB!')
//        }
//        return isJPG && isLt2M
      },
      certImg00SuccessHandler (res, file) {
        this.params.corporateIdcardFrontUrl = this.domainUrl + res.key
      },
      certImg01SuccessHandler (res, file) {
        this.params.corporateIdcardBackUrl = this.domainUrl + res.key
      },
      licenceImgSuccessHandler (res, file) {
        this.params.businessLicenseUrl = this.domainUrl + res.key
      },
      taxImgSuccessHandler (res, file) {
        this.params.taxLicenseUrl = this.domainUrl + res.key
      }
    }
  }
</script>

<style>

</style>

<style scoped>

  .background {
    background-color: #f6f6f6;
  }

  .content {
    padding-top: 130px;
  }

  .registerBackground{
    width: 1000px;
    background-color: #fff;
    border: 1px solid #f3e9e7;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .selectWidth{
    width: 150px;
  }

  .uploadBackground{
    display: inline-block
  }

  .delImgBg{
    position: relative;
    display: inline-block;
  }
  .delImgBtn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }
  .el-icon-plus:before {
    content: ""!important;
  }


  .register_checkingBg{
    padding-top: 150px;
    text-align: center;
    display: inline-block;
    width: 320px;
    font-size: 14px
  }
  .register_checkingBg img{
    margin-bottom: 20px;
  }
  .register_checkingBg p{
    margin: 0;
    padding: 0;
  }

  .register_title{
    height: 50px;
    color: #222222;
    font-size: 16px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding:0 20px;
    line-height: 50px;
    border-bottom: 1px solid #f3e9e7;
  }

  .register_message{
    color: #333333;
    padding-top: 10px;
    font-size: 14px;
  }
  .register_taxTip{
    color: #333333;
    font-size: 14px;
    margin-left: 102%;
    margin-top: -50px;
  }

  .register_form{
    overflow: hidden;
    padding-left: 60px;
  }

  .register_format{
    width: 50%;
    margin-bottom: 25px!important;
  }

  .verCodeBtn {
    width: 100px;
    height: 36px;
    border: 1px solid #f19992;
    background-color: #fbddda;
    color: #333333;
    margin-left: 15px;
    border-radius: 0;
    padding: 0;
  }

  .verCodeBtn:disabled {
    color: #a6a6a6;
  }

  .register_pictureTip{
    font-size: 14px;
    color: #888888;
    display: inline-block;
    position: relative;
    top: -40px;
  }

  .register_pictureTip01{
    width: 220px;
    line-height: 20px;
  }
  .register_pictureTip02{
    width: 280px;
    line-height: 20px;
  }
  .register_pictureTip03{
    width: 300px;
    line-height: 20px;
    position: relative;
    top: 10px;
  }
  .avatar-uploader{
    display: inline-block;
    margin-right: 10px;
  }

  .avatar-uploader  > .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader > .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 14px;
    color: #8c939d;
    width: 170px;
    height: 110px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #dddddd;
    position: relative;
  }
  .avatar-uploader-icon01 {
    background-image: url("../assets/cert00.jpg");
    background-size: 90%;
    background-position-y: 8px;
    background-position-x: 8px;
    background-repeat: no-repeat;
  }
  .avatar-uploader-icon00 {
    background-image: url("../assets/cert01.jpg");
    background-size: 90%;
    background-position-y: 8px;
    background-position-x: 8px;
    background-repeat: no-repeat;
  }
  .avatar-uploader-icon02 {
    background-image: url("../assets/cert02.jpg");
    background-size: 90%;
    background-position-y: 1px;
    background-position-x: 8px;
    background-repeat: no-repeat;
  }
  .avatar {
    width: 170px;
    height: 110px;
    display: block;
  }

  .register_btnBackground{
    padding: 20px 0 0 0;
    text-align: center;
  }


  .uploader_txt{
    position: absolute;
    bottom: -33%;
    left: 20px;
  }

  .register_dialog_button{
    border: none;
    padding: 8px 25px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #f6483f;
    margin-bottom: 30px;
  }
</style>
