<template>
    <div class="tipsBg" v-show="msg.show">
      <div class="tips">
        <img src="./../assets/success.png" class="success" v-show="msg.success">
        <img src="./../assets/failed.png" class="failed" v-show="!msg.success">
        <p class="title">{{ msg.title }}</p>
        <p class="message">{{ msg.content }}</p>
        <button class="know" @click="hide">知道了</button>
      </div>
    </div>
</template>

<script>
  export default {
    props: ['msg'],
    data: function () {
      return {}
    },
    methods: {
      hide () {
        this.msg.show = false
        this.$emit('hidden')
      }
    }
  }
</script>

<style scoped>
  .tipsBg {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tipsBg .tips {
    width: 420px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 40px;
  }
  .tipsBg .tips .title {
    font-size: 20px;
    color: #2b2a2a;
  }
  .tipsBg .tips .message {
    font-size: 15px;
    color: #333;
  }
  .tipsBg .tips .know {
    font-size: 20px;
    color: #fff;
    background-color: #da372a;
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 3px;
    margin-top: 20px;
  }
</style>
