<template>
  <div class="footer" ref="footer">
    © 2017 All Rights Reserved JCH
    <div>
      <a href="http://www.miibeian.gov.cn"><span style="color: #7c6e6e">粤ICP备16005464号-2</span></a>
    </div>
  </div>
</template>

<script>
  export default {
    components: {},
    data () {
      return {}
    },
    mounted () {
    },
    activated () {
      let that = this
      this.$nextTick(function () {
        that.$refs.footer.style.width = (document.body.clientWidth - 1) + 'px'
        that.$refs.footer.style.left = '50%'
        that.$refs.footer.style.marginLeft = -(document.body.clientWidth - 2) / 2 + 'px'
      })
    },
    deactivated () {
    },
    methods: {}
  }
</script>

<style scoped>
  .footer{
    text-align: center;
    height: 50px;
    padding-top: 20px;
    font-size: 14px;
    color: #7c6e6e;
    z-index: 999999;
    background-color: #ededed;
  }
</style>

