<template>
      <div class="header">
        <ul>
          <li><img class="redLogoClass" src="../assets/logo_red.png"></li>
          <li><a @click="goAnchor('home')">网站首页</a></li>
          <li><a @click="goAnchor('customer')">商户案例</a></li>
          <li><a @click="goAnchor('ad')">商户合作</a></li>
          <li><a @click="goAnchor('aboutUs')">关于我们</a></li>
          <li><a class="loginBtn">新用户注册</a></li>
        </ul>
      </div>
</template>

<script>
  export default {
    props: {},
    data: function () {
      return {}
    },
    methods: {
      goAnchor (flag) {
        this.$emit('goHomePage', flag)
      }
    }
  }
</script>

<style scoped>
  .header {
    position: fixed;
    height: 80px;
    text-align: center;
    z-index: 999;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #dddddd;
  }

  .header ul {
    list-style-type: none;
    display: inline-block;
    width: 1200px;
    padding: 0;
    line-height: 80px;
    margin: 0;
  }
  .header ul img {
    margin-right: 600px;
    padding-top: 18px;
  }
  .header ul li {
    float: left;
    padding: 0 10px;
    text-align: center;
  }
  .header ul li a {
    font-size: 16px;
    color: #999999;
    text-decoration: none;
    cursor: pointer;
  }
  .header ul li a:hover {
    color: black;
  }
</style>
