<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
  body {
    padding: 0;
    font: 12px "Microsoft YaHei", "微软雅黑";
    min-width: 1200px;
    margin: 0;
  }

  input,
  button {
    font-family: "微软雅黑", "Microsoft YaHei"!important;
  }
  .el-form {
    margin-top: 20px !important;
  }

  .el-form-item {
    margin-bottom: 20px !important;
  }

  .el-input__inner {
    border: 1px solid rgb(225, 224, 224) !important;
    border-radius: 2px !important;
  }

  .el-form-item__label {
    text-align: left !important;
  }

</style>
